{% load static %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div class ="page-header">
    <h1> <a href= "/">Movie Catalog</a></h1>

</div>
{% if request.session.logged_user %}
<div class = "user-section">
    <h3>Usuario: {{request.session.logged_user}}</h3>
    <a href= "/logout">Log Out</a>
</div>
{%else%}
<a href= "/register">Register</a>
<a href= "/login">Login</a>
<href
{% endif %}

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>


</body>

