
{% extends 'base.html' %}
{% block content%}

{% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} {{ message.tags }}</li>    
    {% endfor %}
</ul>
{% endif %}

<form action = 'movie' method = 'post'>
    {% csrf_token %}
    <p>Titulo: <input type='text' name='title'></p>

    {% for message in messages %}
        {%if "title" in message.tags%}
            <p class ="error"> {{message}}</p>
        {%endif%}
    {% endfor %} 


    <p>Description: <input type='text' name='description' placeholder="maximo 40 caracteres"></p>
    <p>Fecha de Estreno: <input type='text' name='release_date' placeholder="dd/mm/AAAA" ></p>
    <p>Duracion: <input type='text' name='duration_in_mins'></p>
    <p>Director:         <select name = 'director'>
        {% for director in directors %}
         <option value = {{director.id}}>   {{director.first_name}} , {{director.last_name}} </option>
        {% endfor %}

  </select>

    </p>   
    <p>Genero:         <select name = 'genre'>
        {% for genre in genres %}
         <option value = {{genre.id}}>   {{genre.genre}}</option>
        {% endfor %}

  </select>

    </p> 
    <button type='submit'>Crear Pelicula</button>
</form>

{%endblock%}